* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppies,sans-serif;
    
}

body{
   
    color: #ededed;
   }


.navbar {
  position: fixed;
  top: 0%;
  width: 100%;
    display:flex;
    text-decoration: none;
    height: 70px;
    background: #0b0b2b;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
   
  
  }
  .logo{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  .navbar ul{
    display: flex;
    justify-content: center;

  }
  .navbar ul li{
    list-style: none;
    margin:0 15px ;
  
}
 .navbar ul li a{
   font-size: 20px;
    text-decoration: none;
    color:#fff;
    font-weight: 500;
}
.navbar ul li a:hover{
    color: #0ef;
}

.home {
  width:100% ;
  min-height: 100vh;
     background-color: #0b0b2be7;
    display: flex;
    align-items: center;
     justify-content: space-between;
    padding: 80px 10px;
    color: white;
    }

.home-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}

/* Left Content */
.home-content {
  flex: 1;
  min-width: 300px;
}
.home-content h3{
font-size: 28px;
margin: 10px;
}


.home-content h3 span{
color: #00e5ff;
}

.home-content h1 {
  font-size: 60px;
font-weight: 700; 
 margin-bottom: 10px;
}

.home-content h1 span {
  color: #6c63ff;
}

.home-content h2 {
  font-size: 28px;
  color: #6c63ff;
  margin-bottom: 20px;
}

.home-content p {
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 1.8;
  max-width: 600px;
}

/* Buttons */
.home-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.btn {
  padding: 12px 28px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  transition: 0.3s;
}
 text{
  color: #5a54d1;
}

.primary {
  background: linear-gradient(135deg, #6c63ff, #5a54d1);
  color: #fff;
}
.primary:hover {
  transform: translateY(-3px);
}


.outline {
  border: 2px solid #6c63ff;
  color: #6c63ff;
}
.outline:hover {
  background: #6c63ff;
  color: white;
}


/* Icons */
.social-icons {
  display: flex;
  gap: 25px;
}

.social-icons a {
  font-size: 38px;
  color:#00e5ff;
  transition: 0.3s;
}

.social-icons a:hover {
color: #6c63ff;
  transform: scale(1.2);
}

/* Right Image */
.home-image {
  flex: 1;
  min-width: 300px;
  text-align: center;
    position: relative;

}

.home-image img {
  width: 350px;
   height: 350px;
   object-fit: cover;
  
  border-radius: 50%;
  border: 5px solid #00e5ff;
    box-shadow: 0 0 30px rgba(0,229,255,0.4);
}




/* about */
.about {
  padding: 100px 20px;
  background: #0b0b2be7;
  color: #fff;
}
/* TOP CENTER TITLE */
.about-title {
  text-align: center;
  font-size: 42px;
  margin-bottom: 60px;
  color: #fff;
}


.about-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}


/* Image */
.about-image {
  flex: 1;
  text-align: center;
}

.about-image img {
  width: 280px;
  border-radius: 20px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.3);
  transition: 0.4s;
}
.about-image img:hover {
  transform: scale(1.03);
}


/* Content */
/* RIGHT CONTENT */


.about-content {
  flex: 1.5;
}

.about-content h2 {
  font-size: 38px;
  margin-bottom: 20px;
  color: #fff;
}


.about-content p {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 15px;
  color: #d1d1d1;
}


/* Cards */
.about-cards {
  margin-top: 30px;
  display: grid;
grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.card,
.detail-item {
  height: 100%;
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 18px;
  transition: 0.3s;
  box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}




/* ICONS */
.detail-item i,
.card span {
  font-size: 28px;
  color: #6c63ff;
  margin-bottom: 12px;
}
/* TITLES */
.detail-item h4,
.card h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
}
/* TEXT */
.detail-item p,
.card p {
  font-size: 14px;
  color: #d1d1d1;
  line-height: 1.7;
}
/* ABOUT DETAILS */
.about-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* HOVER EFFECT */
.card:hover,
.detail-item:hover {
  transform: translateY(-6px);
}


/* project*/
.projects {
  width:100% ;
  padding: 80px 20px;
  background: #0b0b2be7;
  color: #fff;
}

.projects-container {
  max-width: 1200px;
  margin: auto;
}

.projects h2 {
  font-size: 42px;
  text-align: center;
  margin-bottom: 10px;
}

.projects-desc {
  text-align: center;
  font-size: 15px;
  color: #d1d1d1;
  margin-bottom: 60px;
  line-height: 1.5;
}

/* Grid */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 50px;
}

/* Card */
.project-card {
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  border-radius: 22px;
  overflow: hidden;
  transition: 0.4s;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  height: 100%;
}
/* HOVER */
.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(108,99,255,0.35);
}


.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.project-content {
  padding: 28px;
}

.project-content h3 {
  font-size: 24px;
  color: #fff;
  margin-bottom: 18px;
}

.project-content p {
  font-size: 14px;
  color:#d1d1d1;
  line-height: 1.8;
  margin-bottom: 20px;
}

/* FEATURES */
.project-features h4 {
  margin-bottom: 10px;
  color: #fff;
}

.project-features ul {
  list-style: none;
  padding: 0;
}

.project-features ul li {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 10px;
  color: #d1d1d1;
  line-height: 1.6;
}

.project-features ul li i {
  color: #6c63ff;
  margin-top: 3px;
}


/* Tech Tags */
/* TAGS */
.project-tags {
  margin-top: 10px;
}
.project-tags span {
  display: inline-block;
  background: rgba(108,99,255,0.15);
  color: #b8b3ff;
  padding: 8px 10px;
  border-radius: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  border: 1px solid rgba(108,99,255,0.25);
}
/* BUTTONS */
.project-buttons {
  margin-top: 25px;
  display: flex;
  gap: 15px;
}

/* BUTTON */
.btn {
  padding: 12px 18px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}
/* PRIMARY */
.primary {
  background: linear-gradient(135deg,#6c63ff,#8b84ff);
  color: #fff;
}

/* OUTLINE */
.outline {
  border: 1px solid #6c63ff;
  color: #b8b3ff;
}

/* BUTTON HOVER */
.btn:hover {
  transform: translateY(-3px);
}


/* EXPERIENCE SECTION */
.experience {
  padding: 100px 20px;
  background: #0b0b2be7;
  color: #fff;
}

/* CONTAINER */
.experience-container {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

/* TITLE */
.experience h2 {
  font-size: 38px;
  margin-bottom: 15px;
}

/* DESCRIPTION */
.exp-desc {
  font-size: 15px;
  color: #d1d1d1;
  margin-bottom: 50px;
  line-height: 1.7;
}

/* TIMELINE */
.timeline {
  position: relative;
  margin-top: 40px;
}

/* Vertical Line */
.timeline::before {
  content: '';
  position: absolute;
  left: 20px;
  top: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(#6c63ff,#9d94ff);
  border-radius: 10px;
}

/* ITEM */
.timeline-item {
  position: relative;
  padding-left: 70px;
  margin-bottom: 40px;
}

/* DOT */
.timeline-dot {
  position: absolute;
  left: 11px;
  top: 25px;
  width: 20px;
  height: 20px;
  background: #6c63ff;
  border-radius: 50%;
  border: 4px solid #0b0b2be7;
  box-shadow: 0 0 15px rgba(108,99,255,0.6);
}

/* CARD */
.timeline-content {
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 20px;
  text-align: left;
  transition: 0.4s;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* HOVER */
.timeline-content:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(108,99,255,0.3);
}

/* TITLE */
.timeline-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #fff;
}

.timeline-content h3 i {
  color: #6c63ff;
  margin-right: 10px;
}

/* COMPANY */
.company {
  display: inline-block;
  margin-bottom: 18px;
  color: #9d94ff;
  font-size: 14px;
  font-weight: 500;
}

/* ROLE DESC */
.role-desc {
  font-size: 15px;
  color: #d1d1d1;
  line-height: 1.8;
  margin-bottom: 20px;
}

/* LIST */
.timeline-content ul {
  list-style: none;
  padding: 0;
}

.timeline-content ul li {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 14px;
  color: #e2e2e2;
  font-size: 14px;
  line-height: 1.6;
}

.timeline-content ul li i {
  color: #6c63ff;
  margin-top: 3px;
}

/* TAGS */
.exp-tags {
  margin-top: 25px;
}

.exp-tags span {
  display: inline-block;
  background: rgba(108,99,255,0.15);
  color: #b8b3ff;
  padding: 8px 14px;
  border-radius: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  border: 1px solid rgba(108,99,255,0.3);
}

/* ANIMATION */
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

/*skill*/
.skills {
  width: 100%;
  padding: 70px 100px;
  background-color: #0b0b2be7;
  text-align: center;
  color: #fff;
}

.skills-container {
  max-width: 1200px;
  margin: auto;
}

.skills h2 {
  font-size: 38px;
  margin-bottom: 15px;
  color: #fff;
}

.skills-desc {
  font-size: 15px;
  color: #d1d1d1;;
  margin-bottom: 50px;
  line-height: 1.7;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.skill-card {
  background:rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(12px);
  padding: 30px 25px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: left;
  transition: 0.4s;
  position: relative;
  overflow: hidden;
}

.skill-card h3 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #fff;
}

.skill-card ul {
  list-style: none;
  padding: 0;
}

.skill-card ul li {
  margin-bottom: 14px;
  font-size: 15px;
  color: #d1d1d1;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.3s;
}
.skill-card ul li:hover{
  color: #fff;
  transform: translateX(5px);
}

.skill-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgba(108,99,255,0.3);
}



/*contact*/
.contact {
  width:100% ;
  padding: 80px 20px;
    background-color: #0b0b2be7;
}

.contact-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

/* Left Info */
.contact-info {
  flex: 1;
}

.contact-info h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.contact-desc{
  color: #fff;
}
.info-item {
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  padding: 25px;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
/* EACH ROW */
.contact-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
.contact-row:last-child {
  margin-bottom: 0;
}
.contact-row span {
  width: 45px;
  height: 45px;
  background: rgba(108,99,255,0.15);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6c63ff;
  font-size: 18px;
}

/* TITLE */
.contact-row h4 {
  margin: 0;
  color: #fff;
  font-size: 15px;
}

/* TEXT */
.contact-row p {
  margin: 3px 0 0;
  color: #d1d1d1;
  font-size: 14px;
}






/* Right Form */
.contact-form {
  flex: 1;
background: rgba(255,255,255,0.08);
border: 1px solid rgba(255,255,255,0.1);
backdrop-filter: blur(10px); 
 padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 35px rgba(0,0,0,0.25);
}
.contact-desc {
  font-size: 14px;
  color: #d1d1d1;
  margin-bottom: 20px;
  line-height: 1.6;
}
.contact-form form {
  display: flex;
  flex-direction: column;
  gap:5px;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 18px;
  padding: 14px 16px;
  border: 1px solid rgba(255,255,255,0.1);
  background: rgba(255,255,255,0.05);
  border-radius: 12px;
  font-size: 14px;
  color: #fff;
  outline: none;
  transition: 0.3s;
}
.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 10px rgba(108,99,255,0.3);
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #b8b8b8;
}

.contact-form button {
  padding: 14px;
  border: none;
  background: linear-gradient(135deg,#6c63ff,#8e85ff);
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.4s;
}
.contact-form button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(108,99,255,0.4);
}

.info-item:hover,
.contact-form:hover {
  transform: translateY(-5px);
  transition: 0.4s;
  box-shadow: 0 15px 35px rgba(108,99,255,0.3);
}








/* Footer */
.footer {
  background: linear-gradient(135deg, #1e1e2f, #2a2a72);
  color: #fff;
  padding: 50px 20px 20px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

.footer h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.footer h3 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer p {
  font-size: 14px;
  color: #ccc;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 8px;
  font-size: 14px;
}

.footer ul li a {
  color: #ccc;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #fff;
}

.social-icons a {
  margin-right: 10px;
  font-size: 18px;
  color: #fff;
}

.social-icons a:hover {
  color: #6c63ff;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  border-top: 1px solid #444;
  padding-top: 10px;
  font-size: 13px;
}